.slick-slide {
     margin:  10px; /* Khoảng cách giữa các slide */
     height: 200px;
   }
   .slick-prev::before,
.slick-next::before {
  color: black; /* Thay đổi màu của mũi tên thành màu đỏ */
}
 